@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Cricket </h1>

<img src="https://www.telegraph.co.uk/content/dam/cricket/2019/08/03/TELEMMGLPICT000205365935_trans%2B%2Be2gUmjRsyy_1k97WQihbVzrHhyVLpcmapbgnyU2GSd8.jpeg" width="200" />