@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>hey this is my test 2 page</h1>
<ul>

    @for (int i = 0; i < 10; i++)
    {
        <li>this is Line <Strong> == @i  ==</Strong></li>

    }

</ul>
