
@{
    ViewBag.Title = "KieronsPage";
}

<h2>KieronsPage</h2>
<p>hey this is a new page</p>


<ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>

</ul>

<hr />

<h1>Custom List</h1>
<ul>
    
</ul>